<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ESTADO</th>
            <th scope="col">RUC (CLIENTE)</th>
            <th scope="col">RAZON SOCIAL(CLIENTE)</th>
            <th scope="col">SERIE CORRELATIVO</th>
            <th scope="col">FECHA DE EMISION</th>
            <th scope="col">MONTO</th>
            <th scope="col">OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
    </tbody>
</table>