<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
          <input #input (keyup)="buscarUsuario(input.value)" type="text" class="form-control"  placeholder="Buscar usuario">
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="cargando">
  <div class="col">
    <div class="alert alert-warning text-center">
      <strong>Cargando..</strong>
      <br>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br>
        <span>Espere porfavor</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn " *ngIf="!cargando">
  <div class="col">
    <div class="card">
      <div class="card-body">
          <h3 class="card-title"> Usuarios registrados  (<small>{{ totalRegistros}}</small>)</h3>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Role</th>
                <th>Auth</th>
                <th>Opciones</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let usuario of usuarios"> 
                <td></td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.role}}</td>
                <td></td>
                <td>
                  <button class="btn btn-primary">
                    <i class="fa fa-save"></i>
                  </button>

                  <button class="btn btn-success">
                    <i class=" fa fa-pencil-square-o "></i>
                  </button>

                  <button class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
            Anteriores
          </button>
         
          <button (click)="cambiarDesde(5)" class="btn btn-secondary">
            Siguientes
          </button>
      </div>
    </div>
  </div>
</div>