<!--  <div class="col-12 well card-body">
    <form #newPubForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-10">

    <label>CREAR PUBLICACIONES</label>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <input ngModel name="tituloPublicacion" class="form-control" type="text" placeholder="Titulo">
                    </div>

                </div>
                <textarea name="text" rows="5" #text="ngModel" [(ngModel)]="textoPublicacion" class="form-control" required placeholder="  Escribe aqui..."></textarea>
            </div>
        </div>






        <p>

            <input type="file" placeholder="Seleccionar archivo...">
        </p>
        <br>
        <input type="submit" value="Publicar" class="btn btn-success">


    </form>
</div>-->

<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form #f="ngForm" class="form-horizontal form-material" (ngSubmit)="registrarPublicacion(f)">
                <label>CREAR PUBLICACIONES</label>

                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input ngModel name="titulo" class="form-control" type="text" placeholder="Titulo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">

                        <textarea ngModel name="texto" class="form-control" rows="5" type="text" placeholder="  Escribe aqui..."></textarea>
                    </div>
                </div>


                <input ngModel name="archivo" class="form-control" type="file" placeholder="Seleccionar archivo...">


                <div class="form-group text-center m-t-20">
                    <div class="col-lg-3">
                        <button class="btn btn-success btn-md btn-block text-uppercase btn-rounded" type="submit">Publicar</button>

                    </div>

                </div>


            </form>

        </div>
    </div>
</section>
<br>


<h3>PUBLICACIONES</h3>

<div class="card" *ngFor="let publicacion  of laspublicaciones">
    <div class="card-header">
        Datos de usuario
    </div>
    <div class="card-body">
        <h5 class="card-title">{{publicacion.titulo}}</h5>
        <p class="card-text">{{publicacion.texto}}</p>
        <a href="#" class="btn btn-primary">Descargar</a>
    </div>
</div>